volumes:
  workspace:

services:
  ros2:
    container_name: ros2
    build: https://github.com/tom-howard/ros2-docker.git
    volumes:
      - "${ASSIGNMENT_1_PATH}:/home/student/ros2_ws/src/assignment-1"
      - "${ASSIGNMENT_2_PATH}:/home/student/ros2_ws/src/com2009_team10_2026"
      - workspace:/home/student/ros2_ws
    restart: unless-stopped
    stdin_open: true
    tty: true
    privileged: true
    devices:
       - /dev/dri:/dev/dri
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities:
                - gpu
    env_file:
      - app.env