services:
  jellyseerr:
    container_name: jellyseerr
    image: ghcr.io/fallenbagel/jellyseerr:latest
    depends_on:
      - jellyseerr-postgres
    restart: unless-stopped
    deploy:
      resources:
        limits:
          memory: 500M
    healthcheck:
      test: wget --no-verbose --tries=1 --spider http://localhost:5055/api/v1/status || exit 1
      start_period: 20s
      timeout: 3s
      interval: 15s
      retries: 3
    networks:
      - default
      - proxy
    volumes:
      - "${JELLYSEERR_PATH}:/app/config"
    env_file:
      - app.env
    labels:
      traefik.enable: true
      traefik.http.routers.jellyseerr.rule: "Host(`${JELLYSEERR_DOMAIN}`)"
      traefik.http.services.jellyseerr.loadbalancer.server.port: 5055

  jellyseerr-postgres:
    container_name: jellyseerr-postgres
    image: postgres:18-alpine
    restart: unless-stopped
    shm_size: 128mb
    deploy:
      resources:
        limits:
          memory: 200M
    volumes:
      - "${JELLYSEERR_DB_PATH}:/var/lib/postgresql/18/docker"
    env_file:
      - postgres.env