name: networks

services: {}

networks:
  # Skips creating a new default network for the stack, keeps things a little tidier
  default:
    name: none
    external: true

  # Allows Traefik to connect to containers that it's reverse proxying
  proxy:
    name: proxy
    attachable: true
    driver: bridge
    ipam:
      driver: default
      config:
        # 253 usable addresses
        - subnet: 172.17.1.0/24
          ip_range: 172.17.1.0/24
          gateway: 172.17.1.1
    labels:
      dev.starsystem.description: "Network for ICC between exposed services and Traefik"
      dev.starsystem.app: "traefik"

  # Allows Prometheus to connect to containers that are exposing metrics
  metrics:
    name: metrics
    attachable: true
    driver: bridge
    ipam:
      driver: default
      config:
        # 253 usable addresses
        - subnet: 172.17.2.0/24
          ip_range: 172.17.2.0/24
          gateway: 172.17.2.1
    labels:
      dev.starsystem.description: "Connects containers exporting Prometheus metrics to the Prometheus server"
      dev.starsystem.app: "prometheus"