services:
  grafana:
    container_name: grafana
    image: grafana/grafana:latest
    restart: unless-stopped
    deploy:
      resources:
        limits:
          memory: 512M
    user: 568:568
    volumes:
      - "${GRAFANA_PATH}:/var/lib/grafana"
    env_file:
      - app.env
    labels:
      traefik.enable: true
      traefik.http.routers.grafana.rule: "Host(`${GRAFANA_DOMAIN}`)"
      traefik.http.routers.grafana.entrypoints: websecure
      traefik.http.services.grafana.loadbalancer.server.port: 3000