services:
  open-webui:
    container_name: open-webui
    image: ghcr.io/open-webui/open-webui:main
    networks:
      - default
      - proxy
    env_file:
      - app.env
    deploy:
      resources:
        limits:
          memory: 1G
    volumes:
      - "${OPENWEBUI_PATH}:/app/backend/data"
    restart: unless-stopped
    labels:
      traefik.enable: true
      traefik.http.routers.open-webui.rule: "Host(`${OPENWEBUI_DOMAIN}`)"
      traefik.http.routers.open-webui.entrypoints: websecure
      traefik.http.services.open-webui.loadbalancer.server.port: 8080