secrets:
  lldap_ssl_cert:
    file: "${LLDAP_CERT_PATH}"
  lldap_ssl_key:
    file: "${LLDAP_KEY_PATH}"

services:
  lldap:
    container_name: lldap
    image: lldap/lldap:stable
    depends_on:
      - lldap-postgres
    restart: unless-stopped
    deploy:
      resources:
        limits:
          memory: 50M
    ports:
      - 636:636
    secrets:
      - lldap_ssl_cert
      - lldap_ssl_key
    env_file:
      - app.env
    labels:
      traefik.enable: true
      traefik.http.routers.lldap.rule: "Host(`${LLDAP_DOMAIN}`)"
      traefik.http.routers.lldap.entrypoints: websecure
      traefik.http.services.lldap.loadbalancer.server.port: 17170

  lldap-postgres:
    container_name: lldap-postgres
    image: postgres:18-alpine
    restart: unless-stopped
    shm_size: 128mb
    deploy:
      resources:
        limits:
          memory: 200M
    volumes:
      - "${LLDAP_DB_PATH}:/var/lib/postgresql/18/docker"
    env_file:
      - postgres.env