global:
  scrape_interval: 5s
  scrape_timeout: 5s

scrape_configs:
  # Scrape itself
  - job_name: prometheus
    static_configs:
      - targets:
          - localhost:9090

  # Node exporter
  - job_name: node
    static_configs:
      - targets:
          - host.docker.internal:9100

  # ZFS exporter
  - job_name: zfs
    static_configs:
      - targets:
          - host.docker.internal:9134

  # Nvidia GPU exporter
  - job_name: gpu
    static_configs:
      - targets:
          - host.docker.internal:9835

  # Docker Service Discovery
  - job_name: containers
    docker_sd_configs:
      - host: unix:///var/run/docker.sock
    relabel_configs:
      # Only scrape containers with the label `prometheus.io/scrape=true`
      - source_labels: [__meta_docker_container_label_prometheus_io_scrape]
        regex: "true"
        action: keep
      - source_labels: [__meta_docker_container_label_prometheus_io_scheme]
        target_label: __scheme__
        regex: (https?)
        action: replace
      - source_labels: [__meta_docker_container_label_prometheus_io_path]
        target_label: __metrics_path__
        regex: (.+)
        action: replace
      - source_labels: [__address__, __meta_docker_container_label_prometheus_io_port]
        target_label: __address__
        regex: ([^:]+)(?::\d+)?;(\d+)
        action: replace
        replacement: $1:$2
      - source_labels: [__meta_docker_container_name]
        target_label: container_name
        action: replace
      - source_labels: [__meta_docker_container_id]
        target_label: container_id
        action: replace