volumes:
  clamav-socket:

services:
  clamav:
    container_name: clamav
    image: clamav/clamav:latest
    env_file:
      - app.env
    deploy:
      resources:
        limits:
          memory: 4G
    cap_add:
      - CHOWN
      - DAC_OVERRIDE
      - FOWNER
      - SETGID
      - SETUID
    volumes:
      - clamav-socket:/tmp
    restart: unless-stopped