volumes:
  jellyfin-cache:

services:
  jellyfin:
    container_name: jellyfin
    image: jellyfin/jellyfin:latest
    restart: unless-stopped
    deploy:
      resources:
        limits:
          memory: 8G
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [ gpu ]
    user: 568:568
    volumes:
      - jellyfin-cache:/cache
      - "${JELLYFIN_CONFIG_PATH}:/config"
      - "${JELLYFIN_DATA_PATH}:/data"
      - "${MEDIA_PATH}:/media"
    env_file:
      - app.env
    labels:
      traefik.enable: true
      traefik.http.routers.jellyfin.rule: "Host(`${JELLYFIN_DOMAIN}`)"
      traefik.http.routers.jellyfin.entrypoints: websecure
      traefik.http.services.jellyfin.loadbalancer.server.port: 8096